.tab-button {
  background-color: transparent;
  height: 40px;
  width: 130px;
  border: 0px solid;
  font-size: 20px;
  font-family: 'Roboto';
}

.activeButton {
  color: #fec653;
}

.ActiveHrClass {
  color: #fec653;
}

.NonActiveButton {
  color: #ffffff;
}

.NonActiveHrClass {
  color: #2c0e3a;
}
